
header, footer {
  background-color: $oxford-blue;
  color: $vivid-sky-blue;
  @include flex(row, space-between);
  align-items: center;
  margin: 0;
  padding: $standard-padding 3*$standard-padding;
  p{
    color: $vivid-sky-blue
  }
  img {
    height: calc(6*$standard-padding)
  }
}

header {
  border-radius: 20px;
  width: calc(100vw - 8*$standard-padding);

  div {
    @include flex(row, space-between);
  }

  .rhs{
    align-items: center;
  }

  nav * {
    padding: $standard-padding;

    a{
      color: $vivid-sky-blue;
      text-decoration: none;
    }
  }

  .menu-button{
    border-radius: 4px;
    height: 5*$standard-padding;
    // width: 5*$standard-padding;
    background-color: $vivid-sky-blue;
    color: $mantis;
  }

  .menu-list{
    @include flex(column, justify-content)
  }

  img {
    border-radius: 40px;
  }
}

footer {
  position: fixed;
  bottom: 0px;
  width: calc(100vw - 6*$standard-padding);
  left: 0;
  padding: $standard-padding 3*$standard-padding
}
.narrow-mode{
  display: none !important;
}

.footerLHS{
  @include flex (row, space-around);
  align-items: center;
  .bug-logo{
    margin-right: $standard-padding;
  }
}

.footerRHS{
  @include flex(row, justify-content)
}

a{
  color: $vivid-sky-blue;
  text-decoration: none;
}

// Set breakpoint for smaller than a landscape table at 768px
@media only screen and (max-width: 768px) {
  footer {
    @include flex(column, space-around);
    width: calc(100vw - 6*$standard-padding);
  }

  .wide-mode{
    display: none
  }

  .narrow-mode{
    display: inline !important;
  }
}