.indexContainer{
  h2 {
    font-size: 1.5*$standard-font-size;
  }

  p{
    padding: $standard-padding;
  }
}

.team-pic{
  width: 80%;
}

.empContainer{
  height: 360px;
  @include flex(column, space-between)
}